{
  "globals": {
    "describe",
    "it",
    "beforeEach",
    "afterEach",
    "before",
    "after",
    "expect",
    "assert"
  },
  "rules": {
    "global-require": 0,
    "no-unused-expressions": 0
  }
}
